@import '../style/variables';
@import '../style/reboot.scss';

.App {
  background-color: $bg-gray;

  header {
    display: flex;
    justify-items: baseline;
    align-items: center;
  }

  header h1 {
    width: 85%;
    height: 40px;
  }

  button {
    width: 9%;
    height: 40px;
    border: none;
    background-color: $primary-color;
    color: white;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    flex: 1 200px;
  }

  li {
    background-color: $light-gray;
    list-style: none;
    padding: 10px;
    width: 9%;
    margin: 0 0 20px 20px;
  }

  .team-info {
    border: 1px solid black;
    width: 100%;
    margin-bottom: 20px;
    .team-title {
      width: 100%;
      background-color: $gray;
      color: white;
      text-align: center;
      height: 40px;
      span {
        position: relative;
        top: 8px;
        vertical-align: middle;
      }
    }
    li {
      margin-bottom: 0;
    }
  }
}
